<p>
  Rechercher un collègue (avec Spring)
</p>
<input type="texte" #saisieNom (keydown.enter)="rechercherCollegue(saisieNom.value)">
<button (click)="rechercherCollegue(saisieNom.value)">Rechercher</button>

<!--Essai avec un ngIf-->
<div *ngIf="afficheCollegue == true; else pasCollegue">
  <h4>Vous avez demandé le collègue avec le nom "{{saisieNom.value}}"
    <br />Matricule(s) associé(s) : </h4>
  <br />
  <div *ngFor="let mat of collegueTab">
    <a class="matriculeTrouve" (click)="clickC1(mat.matricule)">{{mat.prenoms}} {{mat.nom}}, matricule : {{mat.matricule}} </a></div>
</div>
<ng-template #pasCollegue>
  <h4>{{messageErreur}}</h4>
</ng-template>