/* You can add global styles to this file, and also import other style files */

/* Styles du menu */
.active-link {
    color:red;
     
}

.menu {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}

.menu:hover{
    background: #c49a42;
    text-decoration: none;
}

.matriculeTrouve {
    color:blue !important
}

.matriculeTrouve:hover{
    text-decoration: underline !important;
    color:blue !important
}