/* Alignement de la police sur les card */
.card-text {
    text-align: left
}

/*custom du tooltip
.my-custom-class .tooltip-inner {
    background-color: darkgreen;
    font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: darkgreen;
  }
  */